body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #e9a33b,#f07109);
    background-size: cover;
    transition: background 0.3s ease-in-out;
    
}

h1 {
    text-align: center;
    color: #ffffff;
    margin-top: 20px;
}

#produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.produto {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 15px;
    width: 250px; /* Tamanho fixo para manter a consistência */
    text-align: center;
}


.produto img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}
.rodape{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;

}

.produto h2 {
    font-size: 18px;
    color: #020202;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.produto p {
    margin: 5px 0;
    color: #000000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.produto a {
    text-decoration: none;
    color: #007bff;
    transition: color 0.2s;
}
.rodape{
    text-align: center;
    background-color: #ffffff;
    font-size: 15px;
    border: 1px;
    
}

.produto a:hover {
    color: #0056b3;
}
