.search-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

#btnBusca{
    width: 55px;
    height: 30px;
}

.container-lojas{
    position: relative;
    left: 22vw;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 55vw;
    height: 50vh;
}

.vitrine{
    display: flex;
    align-items: center;
    flex-direction: column;
}